html {
    margin: 2%;
}

body {
    font-family: 'Chilanka';
    font-size: 150%;
}

#myTab {
    margin: 2% 2% 1% 2%;
}

.tab-content {
    margin: 0% 2% 2% 2%;
}

.item-makanan,
.item-minuman,
.order-item {
    display: flex;
    align-items: center;
    margin-bottom: 0.7%;
}

img {
    width: 15%;
    border-radius: 5%;
    float: left;
    margin-right: 2%;
}

.description {
    width: 80%;
}

p {
    margin-bottom: 0;
}

input {
    height: 2.4em;
    width: 20%;
    text-align: center;
    margin-right: 2%;
    margin-left: 2%;
}

.order-now {
    clear: both;
    position: sticky;
    bottom: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footerLIFF {
    text-align: center;
    margin: 2%;
}

.between {
    border: none;
    height: 0.5px;
    background-color: #333;
}

@media (min-width: 700px) {
    html {
       margin: 2%; 
    }

	img {
        max-width: 100%;
        width: 12em;
        border-radius: 5%;
    }
}