html {
    margin: 2%;
}

body {
    font-family: "Chilanka";
    font-size: 150%;
}

.header {
    margin: 0 2% 0 2%;
}

.left {
    float: left;
}

.right {
    float: right;
    text-align: right;
}

.teks {
    clear: both;
}

#logo-img,
#profile-picture {
    width: 3em;
    border: 1px solid #e5e5e5;
    border-radius: 50%;
}

#myTab {
    clear: both;
    margin: 2% 2% 1% 2%;
}

.tab-content {
    margin: 0% 2% 2% 2%;
}

.item-makanan,
.item-minuman,
.order-item,
.login-popup-header {
    display: flex;
    align-items: center;
    margin-bottom: 0.7%;
}

.item-img {
    width: 15%;
    border-radius: 5%;
    float: left;
    margin-right: 2%;
}

.description {
    width: 120%;
}

p {
    margin-bottom: 0;
}

input {
    height: 2.4em;
    width: 30%;
    text-align: center;
    margin-right: 2%;
    margin-left: 2%;
}

.order-now {
    clear: both;
    position: sticky;
    bottom: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.footerLIFF,
.buttonGroup {
    text-align: center;
    margin: 2%;
}

.between {
    border: none;
    height: 0.5px;
    background-color: #333;
}

#login-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 15%; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

#login-popup {
    background-color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 1em;
    margin: auto;
    padding: 2%;
    width: 50%;
}

.login-popup-title {
    margin-left: 1%;
    font-size: 150%;
}

#close {
    color: #000;
    float: right;
    font-size: 200%;
    font-weight: 900;
}

#close:hover,
#close:focus {
    color: #ff0000;
    text-decoration: none;
    cursor: pointer;
}

@media (min-width: 700px) {
    html {
        margin: 2%;
    }

    #logo-img,
    .profile-picture {
        width: 8em;
        border: 1px solid #e5e5e5;
        border-radius: 50%;
    }

    .item-img {
        max-width: 100%;
        width: 12em;
        border-radius: 5%;
    }
}
